.c_box {
  text-align: left;
  border: 1px solid;
  display: inline-block;
  width: 500px;
  height: 200px;
  background-color: white;
  border: none;
  margin: 1%;
  border-radius: 3%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 1%;
}

.c_box:hover {
  background-color: rgb(190, 210, 178);

  cursor: pointer;
}
.c_field {
  font-size: larger;
  display: inline-block;
}

.c_name {
  font-size: larger;
  display: inline-block;
}

.c_intro {
  margin-left: 5%;
  white-space: normal;
  justify-content: center;
  font-size: medium;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 5%;
}
.c_img {
  display: inline-block;
  width: 100px;
  box-sizing: border-box;
  border-radius: 50%;
  margin-left: 5%;
  height: 100px;
  object-fit: cover;
}
.c_im_in {
  display: inline-flex;
  align-items: center;
  max-height: 100%;
  max-width: 100%;
  box-sizing: border-box;
}
.c_btn {
  display: inline-block;
}
.c_btn > button {
  font-size: large;
}
