.mainp {
  float: right;
  display: flex; /* div 요소를 flex 컨테이너로 설정 */
  justify-content: center; /* 가로 방향 가운데 정렬 */
  align-items: center; /* 세로 방향 가운데 정렬 */

  width: 50%;
  height: 100%;
  background: #ffffff;
  padding-top: 5%;
  padding-bottom: 10%;
  border: 0;
  margin-top: 2%;
}

.cr {
  color: #000000;
  justify-content: space-evenly;
}
.dup {
  font-size: 2px;
  width: 55px;
  height: 30px;
  background-color: #ffffff;
  color: #000000;
  margin-left: 200px;
}
img {
  display: block;
  margin: 0 auto;
  width: 100%;
}
input {
  margin-right: 20px;
  padding: 0px;
  border-top: 1px solid #cfcfcf;
  border-left: 1px solid #cfcfcf;
  border-right: 1px solid #cfcfcf;
  border-bottom: 1px solid #cfcfcf;
  width: 250px;
  height: 30px;
}

label {
  font-weight: bolid;
  color: #736b74bf;
}
.reg {
  width: 100px;
  text-align: center;
  background-color: #ffffff;
  color: #000000;
  border-radius: 20px;
  border: #000000 1px solid;
}
.category {
  margin-bottom: 8px;

  border: 1px solid #cfcfcf;
}
textarea {
  width: 250px;
  border: 1px solid #cfcfcf;
  height: 100px;
  margin-top: 10px;
}
.btn {
  text-align: center;
  margin-right: 25px;
}
form {
  width: 253px;
}
