.mainp {
  overflow: auto;
  background: #ffffff;
  margin: 0px;
  overflow: visible;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  justify-content: center; /* 수평 가운데 정렬 */
  align-items: center; /* 수직 가운데 정렬 */
}

.category_s {
  margin-bottom: 8px;
  height: 40px;
  width: 252.2px;
  border: 1px solid #cfcfcf;
  background-color: rgb(233, 233, 233);
}

h2 {
  color: #000000;
  justify-content: space-evenly;
}
.dup {
  font-size: 2px;
  width: 55px;
  height: 30px;
  background-color: #ffffff;
  color: #000000;
  margin-left: 200px;
}

input {
  padding: 0px;
  border-radius: 3px;
  background-color: rgb(233, 233, 233);
  width: 250px;
  height: 30px;
  font-size: large;
  border: 0;
}

label {
  font-weight: bolid;
  color: #736b74bf;
}

.textarea_intro {
  width: 250px;
  border: 1px solid #cfcfcf;
  height: 100px;
  margin-top: 10px;
  background-color: rgb(233, 233, 233);
}
.rg {
  height: 50px;
  border-radius: 4px;
  margin-top: 20px;
  font-size: 150%;
  border: none;
  width: 252px;
  background-color: rgb(151, 179, 139);

  /* 상자 디자인 큰틀*/

  border: 0px;

  /* 글씨 */
  color: white;

  font-weight: bold;
}

/*버튼 눌리는 효과*/
.rg:hover {
  cursor: pointer;
}
.rg:active {
  box-shadow: inset -0.3rem -0.1rem 1.4rem #fbfbfb,
    inset 0.3rem 0.4rem 0.8rem #bec5d0;
  cursor: pointer;
}

.logo_img {
  width: 272px;
}
