.imgsize {
  height: 150px;
  weight: 150px;
  border: 2px solid;
}
.nonbtn {
}
.realbtn {
  margin: 5px 0 20px 0;
  font-weight: bold;
  font-size: 13px;
  color: #0095f6;
  display: inline-block;
  cursor: pointer;
}
