.login {
  color: rgb(54, 54, 54);
  font-weight: bold;
}
.form {
  width: 303px;
  margin: 0;
  display: flex; /* div 요소를 flex 컨테이너로 설정 */
  justify-content: center; /* 가로 방향 가운데 정렬 */
  align-items: center; /* 세로 방향 가운데 정렬 */
}
.loginp {
  display: flex; /* div 요소를 flex 컨테이너로 설정 */
  justify-content: space-evenly; /* 가로 방향 가운데 정렬 */
  align-items: center; /* 세로 방향 가운데 정렬 */
  margin-top: 200px;
  position: relative;
  width: 70vh;

  background: #ffffff;

  box-sizing: border-box;
  flex-direction: column;
  flex-wrap: nowrap;
}
.logo_img {
  display: block;
  margin: 0 auto;
  width: 350px;
}
.twoBtn {
  text-align: center;

  display: flex; /* div 요소를 flex 컨테이너로 설정 */
  flex-direction: column;
}

.lg {
  height: 50px;
  border-radius: 4px;
  margin-top: 20px;
  font-size: 150%;
  border: none;
  width: 300px;
  background-color: rgb(151, 179, 139);

  /* 상자 디자인 큰틀*/

  border: 0px;

  /* 글씨 */
  color: white;

  font-weight: bold;
}

/*버튼 눌리는 효과*/
.lg:hover {
  cursor: pointer;
}
.lg:active {
  box-shadow: inset -0.3rem -0.1rem 1.4rem #fbfbfb,
    inset 0.3rem 0.4rem 0.8rem #bec5d0;
  cursor: pointer;
}

.reg {
  font-weight: bold;
}
.reg:hover {
  cursor: pointer;
}
.box1,
.box2 {
  border: 0;
  width: 300px;
  height: 50px;
  outline: none;
  font-size: 120%;
  background-color: rgb(233, 233, 233);
  border: 1px solid #bec5d0;
  border-radius: 2px;
  margin: 0 0 0 0;
}
.box1:focus {
  border: 1px solid rgb(81, 132, 60);
}
.box2:focus {
  border: 1px solid rgb(81, 132, 60);
}

label {
  font-size: 120%;
}
span {
  margin-top: 20px;
}
.form {
  width: 350px;
}
