.myInfo {
  margin-left: 70px;
  margin-bottom: 30px;
  width: 700px;
}
.Reserlist {
  border-radius: 10px;

  position: relative;
}
.bg {
  background-color: rgb(255, 255, 255);
  width: 70%;
  justify-content: flex-end;
}
.ReserComp {
  display: inline-block;
  background-color: white;
  border: 2px solid rgb(174, 197, 173);
  margin: 1%;
  border-radius: 20px;
  height: 150px;
  padding: 1%;
  text-align: center;
  width: 1000px;
  border-radius: 5px;
  margin: 10px;
}

.ReserComp:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.ReserComp .myInfo,
.ReserComp {
  font-size: medium;
}
h3,
h5 {
  text-align: center;
}

.entire {
  text-align: center;
  width: 100%;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  margin-top: 50px;
  /* margin-left: 225px; */
}
.informtable {
  table-layout: fixed;
  width: 700px;
  margin-right: 1000px;
  margin-left: 70px;
}
.td {
  text-align: left;

  font-size: 20px;
}

table .td:first-child {
  font-family: "Google Sans Text", "Google Sans", Roboto, Arial, sans-serif;

  font-weight: bold;
  font-size: 20px;
  letter-spacing: 0.1px;
  line-height: 16px;
  text-transform: none;
  hyphens: auto;
  word-break: break-word;
  word-wrap: break-word;
  color: rgb(95, 99, 104);
}
.title {
  font-weight: bold;
  font-size: 30px;
}
table tr:nth-child(2) {
  border-bottom: 1px solid black;
}
.banner {
  height: 300px;
  width: 100%;
  background-color: rgb(174, 197, 173);
  margin: 0 auto;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;

  align-items: center;
  justify-content: center;
}

.imgsize {
  margin-left: 50px;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 1px solid;
}
.name {
  text-align: left;
  font-weight: bold;
  font-size: 30px;
  font: bold;
  color: rgb(255, 255, 255);
}
.welcome {
  font-weight: bold;
  font-size: 20px;
}
.line {
  /* margin-right: 100px; */
  border-width: 3px;
  border-color: rgb(174, 197, 173);
  width: 1100px;
}

.App {
  width: 100%;
}
.pastbox {
  width: 120px;
  height: 120px;
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 20px;
  box-sizing: border-box;
  font-size: 40px;
}
.planbox {
  display: flex;
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  text-align: center; /* 가로 중앙 정렬 */
  gap: 20px;
}
.futrer {
  font-size: 15px;
  display: flex;
  margin-bottom: 0;
  margin-left: 4px;
  color: rgb(76, 121, 237);
  font-weight: bold;
  font-family: "맑은 고딕";
}
.pastr {
  font-size: 15px;
  display: flex;
  margin-bottom: 0;
  margin-left: 4px;
  font-family: "맑은 고딕";
  color: rgb(149, 186, 171);
  font-weight: bolder;
}
.icon {
  width: 280px;
  height: 280px;
  color: white;
  margin-bottom: 0px;
}
.iconbox {
  margin-left: 50px;

  border-radius: 50%;
}
.smallimg {
  border: 1px solid;
  margin-top: 15px;
  margin-left: 100px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: inline-block;
}
.reservelist2 {
  display: flex;
}
.re {
  display: flex;
}
.vertical {
  margin-left: 200px;
  margin-top: 10px;
  font-weight: bold;
  text-align: left;
  line-height: 30px;
}
#listbutton {
  height: 40px;
  width: 150px;
  margin-left: 200px;
  margin-top: 55px;
  border: none;
  font-weight: bold;
}

.name3 {
  font-size: 20px;
}
.text12 {
  font-size: 25px;
  font-weight: 80px;
}
.custom-cursor {
  color: white;
  cursor: pointer;
  background-color: rgb(174, 197, 173);
}
.custom-cursor:hover {
  background-color: #9b9b9b;
}
.futurer {
  font-size: 15px;
  display: flex;
  margin-bottom: 0;
  color: rgb(30, 1, 250);
  font-weight: bolder;
  margin-left: 4px;
}
.smallicon {
  margin-top: 15px;
  margin-left: 100px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: inline-block;
}
