nav {
  background-color: #fff;

  display: flex;
  justify-content: space-between;
}

ul {
  list-style: none;
  display: flex;
}

a {
  color: #333;

  text-decoration: none;
  font-size: 1.2rem;
}
.lg_ul {
  height: 20px;

  justify-content: flex-start;
  align-items: center;
}
.lg {
  width: 100px;
}
.logo_img {
  width: 12%;
}

.logo_ul {
  display: flex;
}

.nav_lg {
  background: none;
  border: none;
}
