nav {
  background-color: #fff;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

ul {
  list-style: none;
  display: flex;
}

li {
  margin-left: 2rem;
}

a {
  color: #333;

  text-decoration: none;
  font-size: 1.2rem;
}
.lg {
  background-color: white;
}
