.client_btn {
  flex: 1;
  background-color: rgb(236, 232, 209);
  flex: 1;
  font-size: 180%;

  height: 1150px;
  text-align: center;
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  border: none;
}
.counsel_btn {
  flex: 1;
  font-size: 180%;

  height: 1150px;
  text-align: center;
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  border: none;
  background-color: rgb(190, 210, 178);
}

.client_btn,
.counsel_btn:hover {
  cursor: pointer;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 110%;
}
h2 {
  font-weight: 900;
  text-align: center;
}
.half {
  height: 900px;
  display: flex;
}
.twoBtn {
  height: 843px;
  display: flex;
  flex-direction: row;
  align-content: center;
}
td {
  width: fit-content;
  height: fit-content;
}

.logo_img {
  display: block;
  margin: 0 auto;
  width: 350px;
}
.center_block {
  display: flex;
  flex-direction: column;
  justify-content: center; /* 수평 가운데 정렬 */
  align-items: center; /* 수직 가운데 정렬 */
}
